body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
button {
  margin: 0;
  border-radius: 0.3rem;
  border-color: azure;
}
button:hover {
  color: white;
  background-color: rgb(199, 195, 195);
}

.header__title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: ghostwhite;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 70vh;
}

.product {
  display: flex;
  flex-direction: column;
}

.product__title {
  text-align: center;
}

.product__img {
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main--cart {
  display: block;
}

.offscreen {
  display: none;
}

.cart {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem 2rem;
  @media (max-width: 32rem) {
    padding: 0 0.5rem;
  }
}

.cart__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  align-items: center;
  @media (max-width: 40rem) {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  @media (max-width: 32rem) {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.cart__img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.cart__button,
.cart__select {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border-color: #d0cfcf;
  @media (max-width: 50rem) {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
  }
}

.cart__totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem 5rem;
}

.cart__item:nth-child(2) {
  background-color: #fbfbfb;
}

.footer {
  padding: 1rem;
  margin-top: auto;
}
